
<!DOCTYPE html>
<html lang="en">
<head>
<title>Sign In</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Education Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900iSource+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
</head>
<body>
<!--welcome-->
<div class="signup">
	<div class="container">
		<div class=" agile-welcome">
			<div class="text-w3">
				<h4>welcome to our university finder</h4>
				<p>Sign In to join the biggest online education communtiy</p>
            </div>
                
			<div class="clearfix"></div>
		</div>
         <div class="agile-contact">
		<div class="map1">
				<input placeholder="Username/E-mail" name="Name" class="name" type="text" required="" id="email"><br>
				<input placeholder="Password" name="Name" class="name" type="password" required="" id="pass"><br>
				<button id="submit">Submit </button>
				 <script src="/vendor/ejs_production.js"></script>
				  <script>
				  var user = {};
				    $("#email").change(function(event){
				      user.email=$("#email").val();
				    });
				    $("#pass").change(function(event){
				      user.password=$("#pass").val();
				    });
				    $("#submit").click(function(event){
				      $.ajax({
				        method: 'POST',
				        url: "/auth/signin",
				        data: user
				      }).done(function(response){
				        alert('Login Successful!');
				        window.location.replace('/');
				      }).fail(function(response){
				        console.log(response);
				       alert("User name or Password Incorrect!");
				      });
				    });
				  </script>	
		
		</div>
	</div>
	</div>
    
</div>
<!--//welcome-->


</body>
</html>